Repository Davidixx/osIROSE-new, changes with the labels that .github/labeler.yml gives for each.
All labels: component:core, component:core:rosecommon, component:server:character, component:server:login, component:server:map, component:server:node, component:databases:SQL, component:scripting, component:buildsystem, component:other

.github/labeler.yml:

component:core:
- src/core/*
- src/core/**/*

component:core:rosecommon:
- src/rosecommon/*
- src/rosecommon/**/*

component:server:character:
- src/char/*
- src/char/**/*

component:server:login:
- src/login/*
- src/login/**/

component:server:map:
- src/map/*
- src/map/**/*

component:server:node:
- src/node/*
- src/node/**/*

component:databases:SQL:
- Database/*.sql
- Database/**/*.sql

component:scripting:
- scripts/*.lua
- scripts/**/*.lua

component:buildsystem:
- cmake/*
- cmake/**/*

component:other:
- src/tests/*
- src/tests/**/*
- src/bot/*
- src/bot/**/*

[V] Fixed equipping CG/Cart items [V] handle emotion skills (0x781) [V/X] handle 'sit' skill
  src/char/src/ccharclient.cpp
  src/entity_system.cpp
  src/map/include/combat/player.h
  src/map/include/items/inventory.h
  src/map/src/cmapclient.cpp
  src/map/src/combat/player.cpp
  src/map/src/entity_system.cpp
  src/map/src/items/inventory.cpp
  src/rosecommon/include/enums.h
  src/rosecommon/src/packetfactory.cpp
Labels: component:core:rosecommon, component:server:character, component:server:map

Cr
  src/map/src/items/inventory.cpp
Labels: component:server:map

Improved ToggleMove packet handling
  src/map/include/combat/player.h
  src/map/src/combat/player.cpp
  src/map/src/mouse/mouse_cmd.cpp
Labels: component:server:map

Changed togglemove
  src/map/src/combat/player.cpp
  src/map/src/items/inventory.cpp
  src/map/src/mouse/mouse_cmd.cpp
  src/rosecommon/include/enums.h
Labels: component:core:rosecommon, component:server:map

deleted the "leftover" item entity when add_item stacks
  src/map/src/items/inventory.cpp
Labels: component:server:map

Fixed loadModel issue on cmapclient::joinServerReply. Now every login sends you to START_POSITION. warn logs all over the place to debug the switch char bug (stucks on "waiting")
  src/char/src/ccharclient.cpp
  src/map/src/cmapclient.cpp
  src/map/src/items/inventory.cpp
Labels: component:server:character, component:server:map

Send it already
  src/char/src/ccharclient.cpp
  src/map/src/cmapclient.cpp
  src/map/src/combat/player.cpp
  src/map/src/items/inventory.cpp
  src/rosecommon/src/crosesocket.cpp
Labels: component:core:rosecommon, component:server:character, component:server:map

Line fixes, debug logs removed
  src/char/src/ccharclient.cpp
  src/map/src/items/inventory.cpp
  src/rosecommon/src/crosesocket.cpp
Labels: component:core:rosecommon, component:server:character, component:server:map

Fixed current MP&HP saving on save_character
  src/map/src/entity_system.cpp
Labels: component:server:map

Fixed MAGIC runSpeed value to be dataconsts::BASE_MOVE_SPEED
  src/rosecommon/include/components/computed_values.h
Labels: component:core:rosecommon

Handle 2h weapon + shield on server side
  src/map/src/cmapclient.cpp
  src/map/src/items/inventory.cpp
  src/rosecommon/include/enums.h
Labels: component:core:rosecommon, component:server:map

Upgraded 2h removal when having secondary
  src/map/src/items/inventory.cpp
Labels: component:server:map

Fixes from last CR
  src/map/src/combat/player.cpp
  src/map/src/items/inventory.cpp
  src/rosecommon/include/enums.h
Labels: component:core:rosecommon, component:server:map

Use of ammo
  src/map/include/items/inventory.h
  src/map/src/combat/combat.cpp
  src/map/src/entity_system.cpp
  src/map/src/items/inventory.cpp
  src/rosecommon/include/dataconsts.h
  src/rosecommon/include/itemdb.h
  src/rosecommon/src/itemdb.cpp
  src/rosecommon/src/packetfactory.cpp
Labels: component:core:rosecommon, component:server:map

Fixed Jewelery equipping
  src/map/src/items/inventory.cpp
  src/rosecommon/include/enums.h
Labels: component:core:rosecommon, component:server:map

Without debugging logs
  src/map/src/items/inventory.cpp
Labels: component:server:map

Removed debug logs
  src/map/src/combat/combat.cpp
  src/map/src/items/inventory.cpp
Labels: component:server:map

fixed function has_bullets to get_bullet_slot
  src/map/include/items/inventory.h
  src/map/src/combat/combat.cpp
  src/map/src/items/inventory.cpp
Labels: component:server:map

Added swap_item packet. fixed arrow using
  src/map/include/items/inventory.h
  src/map/src/combat/combat.cpp
  src/map/src/entity_system.cpp
  src/map/src/items/inventory.cpp
  src/rosecommon/CMakeLists.txt
  src/rosecommon/include/epackettype.h
  src/rosecommon/packets/cli_swap_item.xml
  src/rosecommon/packets/srv_swap_item.xml
  src/rosecommon/src/packetfactory.cpp
Labels: component:core:rosecommon, component:server:map

fixes for swap inv
  src/map/src/items/inventory.cpp
Labels: component:server:map

swap_item packet changes
  src/map/src/entity_system.cpp
  src/map/src/items/inventory.cpp
  src/map/src/utils/calculation.cpp
  src/rosecommon/CMakeLists.txt
  src/rosecommon/include/epackettype.h
  src/rosecommon/packets/srv_swap_item.xml
  src/rosecommon/src/packetfactory.cpp
Labels: component:core:rosecommon, component:server:map
